.navbar-nav{
    margin-left: 350px;

}
.nav-link {
    font-style: italic;
    font-weight: bolder;


}

.nav-item{
    padding: 15px;
  
}
.carousel-caption h5{
    font-size: 30px; 
    color: white; 
    font-weight: bolder;
     font-style: italic;
      text-transform: uppercase;
}
h1{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}
